<?xml version="1.0" standalone='no'?><!--*-nxml-*-->
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
  <name replace-wildcards="yes">%h</name>
  <service>
    <type>_secretapi._udp</type>
    <port>9988</port>
    <txt-record>{"manufacturer": "MooresCloud", "product": "Holiday", "version": "1", "api_version": "1.0b3", "globes": "50"}</txt-record>
  </service>
</service-group>

